.vs/
.vscode/
Randomizer.ConsoleUI/bin
Randomizer.ConsoleUI/obj
Randomizer.Infrastructure/bin
Randomizer.Infrastructure/obj
Randomizer.Logic/bin
Randomizer.Logic/obj
Randomizer.UnitTests/bin
Randomizer.UnitTests/obj
Randomizer.Proof_Of_Concept/bin
Randomizer.Proof_Of_Concept/obj
Randomizer.Web_MVC/bin
Randomizer.Web_MVC/obj
*.txt
