.vs/
.vscode/
*/Randomizer.ConsoleUI/bin
*/Randomizer.ConsoleUI/obj
*/Randomizer.Infrastructure/bin
*/Randomizer.Infrastructure/obj
*/Randomizer.Logic/bin
*/Randomizer.Logic/obj
*/Randomizer.UnitTests/bin
*/Randomizer.UnitTests/obj
*/Randomizer.Proof_Of_Concept/bin
*/Randomizer.Proof_Of_Concept/obj
*.txt
*.pyc
src/__pycache__/*.pyc
*.db
